# Sensitive directories
Secret/
Decrypt/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# System-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo